
body {
    font-family: 'Roboto', sans-serif;
    background-color: orange;
 }

 header{
    margin-left: 500px;
    display: flex;
    align-items: center;
    gap: 50px;
 }

 .Navbar{
    display: inline;
    
   }
   main{   
    justify-content: center;
    align-items: center;
    margin-left: 200px;     
   }

   footer{
    margin-left: 500px;  
    display: flex;
    align-items: center;
    gap: 50px;
   }

  