
body {
    font-family: 'Roboto', sans-serif;
    background-image: url('bg-image.avif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: blue;
 }

 header{
    margin-left: 500px;
    display: flex;
    align-items: center;
    gap: 50px;
 }

 .Navbar{
    display: inline;
    
   }
   main{   
    justify-content: center;
    align-items: center;
    margin-left: px; 
    display: flex;    
   }

   footer{
    margin-left: 500px;  
    display: flex;
    align-items: center;
    gap: 50px;
   }
   

  